*_version.py
.coverage
.nox
.tox
.coverage*
/*.ipynb
*.DAT
docs/api/summary
__pycache__
*.egg-info
.python-version
.DS_Store
playground/

coverage.xml
dev/
dist/
docs/_build
docs/jupyter_execute/
tests/benchmark/results/
tests/benchmark/data/
