name: Tests

on:
  push:
    branches:
      - main
    tags:
      - "*"
  pull_request:

jobs:
  tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        # Python versions to test, and which to use x64 with
        python-version: ["3.10", "3.11"]
        x64: ["0"]
        include:
          - python-version: "3.13"
            x64: "1"
    steps:
      # Setup uv: https://docs.astral.sh/uv/guides/integration/github/#using-uv-pip
      - uses: actions/checkout@v5
      - name: Install the latest version of uv
        uses: astral-sh/setup-uv@v7

      # Run tests
      - name: Run tests
        run: |
          uv run --group test --python ${{ matrix.python-version }} -m pytest --cov --cov-branch --cov-report=xml -n auto tests
        env:
          # JAX_ENABLE_X64: ${{ matrix.x64 }}
          JAX_ENABLE_X64: 1

      # Create coverage report
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          slug: smolgp-dev/smolgp
            
  # comparison:
  #   runs-on: ubuntu-latest
  #   steps:
  #     - name: Checkout
  #       uses: actions/checkout@v5
  #       with:
  #         fetch-depth: 0
  #     - name: Set up uv
  #       uses: astral-sh/setup-uv@v7
  #     - name: Run tests
  #       run: |
  #         uv run --extra test --extra comparison --python 3.12 pytest -n auto tests
  #       env:
  #         JAX_ENABLE_X64: "1"

  # doctest:
  #   runs-on: ubuntu-latest
  #   steps:
  #     - name: Checkout
  #       uses: actions/checkout@v5
  #       with:
  #         fetch-depth: 0
  #     - name: Set up uv
  #       uses: astral-sh/setup-uv@v7
  #     - name: Run tests
  #       run: |
  #         uv run --extra test --extra doctest --python 3.12 pytest --doctest-modules -v src/tinygp
  #       env:
  #         JAX_ENABLE_X64: "1"

  # build:
  #   runs-on: ubuntu-latest
  #   steps:
  #     - uses: actions/checkout@v5
  #       with:
  #         fetch-depth: 0
  #     - name: Set up uv
  #       uses: astral-sh/setup-uv@v7
  #     - name: Build the distribution
  #       run: uv build
  #     - name: Check the distribution
  #       run: uv run --with twine python -m twine check --strict dist/*
  #     - uses: actions/upload-artifact@v5
  #       with:
  #         path: dist/*

  # publish:
  #   environment:
  #     name: pypi
  #     url: https://pypi.org/p/tinygp
  #   permissions:
  #     id-token: write
  #   needs: [tests, comparison, doctest, build]
  #   runs-on: ubuntu-latest
  #   if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags/')
  #   steps:
  #     - uses: actions/download-artifact@v6
  #       with:
  #         name: artifact
  #         path: dist
  #     - uses: pypa/gh-action-pypi-publish@v1.13.0
